:root {
  --blue-900: #0E1621;
  --blue-800: #17212B;
  --blue-700: #1D2A3A;
  --blue-600: #232F3D;
  --blue-500: #465461;
  --blue-300: #5188C1;

  --text-primary-700: #858F98;
  --text-primary-600: #7F91A4;
  --text-primary-100: #FFFFFF;
  --text-accent-200: #5387C1;
  --text-accent-100: #6BB2F2;
}