.login__wrapper {
  padding: 39px 77px 50px 77px;
  background-color: var(--blue-800);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__img {
  width: 139px;
  height: 139px;
  background-color: var(--blue-600);
  background-image: url('../static/chat.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 29px;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-primary-100);
  margin-top: 0;
  margin-bottom: 13px;
}

.login__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--text-primary-600);
  margin-top: 0;
  margin-bottom: 27px;
}

.login__input,
.login__input::placeholder {
  box-sizing: border-box;
  width: 300px;
  border: none;
  border-bottom: 1px solid var(--blue-500);
  background: none;
  padding: 13px 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}
.login__input {
  color: var(--text-primary-100);
  margin-bottom: 42px;
}
.login__input::placeholder {
  color: var(--text-primary-700);
  padding-left: 0;
}
.login__input:focus {
  outline: none;
  border-color: var(--blue-300);
}
.login__input:focus::placeholder {
  color: var(--text-primary-100);
}